<template>
  <div>
    <div class="py-2 bg-purple-600 text-md uppercase text-white text-center font-bold">
      Input Data User
    </div>
    <div class="my-8">

      <ApolloMutation
        :mutation="require('../../../graphql/CreateUser.gql')"
        :variables="{
          input: {
            user: item
          }
        }"
        class="form"
        @done="$router.back()"
      >
        <template v-slot="{ mutate, loading, error }">
          <div v-if="error" class="p-4 bg-red text-white font-semibold">
            {{ error }}
          </div>

          <div v-if="loading" class="p-4 bg-red text-white font-semibold">
            sedang menyimpan...
          </div>

          <form class="shadow p-4 max-w-xl mx-auto">
            <div class="mb-6">
              <label class="block text-gray-700 font-semibold mb-1">Username</label>
              <input
                type="text"
                v-model="item.username"
                class="bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
              />
              <p v-if="$v.item.username.$invalid" class="text-red-500 text-xs italic">Tidak Boleh Kosong</p>
            </div>

            <div class="mb-6">
              <label class="block text-gray-700 font-semibold mb-1">Password</label>
              <input
                type="password"
                v-model="item.password"
                class="bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
              />
              <p v-if="$v.item.password.$invalid" class="text-red-500 text-xs italic">Tidak Boleh Kosong</p>
            </div>

            <div class="flex flex-row items-center">
              <button
                :disabled="$v.$invalid || loading"
                @click="mutate"
                class="bg-indigo-700 font-bold text-white py-1 px-4 disabled:opacity-50"
              >
                Simpan
              </button>

              <button
                class="font-bold py-1 border border-gray-400 px-4 ml-2"
                @click="$v.$reset"
              >
                Reset
              </button>
            </div>

          </form>
        </template>
      </ApolloMutation>

    </div>
  </div>
</template>

<script>
import { http } from '@/plugins/axios'
import { required } from 'vuelidate/lib/validators';

export default {
  name: 'obat-create',
  data: () => ({
    item: {
      username: '',
      password: ''
    }
  }),
  validations: {
    item: {
      username: {
        required
      },
      password: {
        required
      }
    }
  }
}
</script>