<template>
  <div class="flex flex-col h-screen">
    <nav 
      class="flex flex-row justify-between px-24 border-b border-gray-400"
    >
      <div class="flex flex-row items-center">
        <img class="mx-auto mr-4 text-white" width="24" height="24" src="@/assets/pharmacy.svg" />
        <div class="text-lg font-semibold text-gray-600 uppercase font-fredoka">Adraffly</div>
      </div>
      <div class="flex flex-row items-center">
        <router-link 
          v-for="link in links"
          :key="link.path"
          :to="'/app/' + link.path"
          class="text-md text-lg px-4 py-3 font-bold lowercase text-gray-700 font-baloo2"
        >{{ link.label }}</router-link>
      </div>
    </nav>
    <div class="flex-grow">
      <router-view/>
    </div>
    <footer class="border-t border-gray-500 px-24 py-3 flex items-center">
      <div class="text-md">Copyright Adrian. <span class="font-bold text-sm">2020</span></div>
      <div class="flex-grow">
      </div>
      <router-link 
        v-for="link in links"
        :key="link.path"
        :to="'/app/' + link.path"
        class="text-md px-4 font-bold lowercase"
      >{{ link.label }}</router-link>
    </footer>
  </div>
</template>

<script>
export default {
  name: "app-wrapper",
  data: () => ({
    links: [
      { label: 'Supplier', path: 'suppliers' },
      { label: 'Obat', path: 'obats' },
      { label: 'Bobot', path: 'settings' },
      { label: 'User', path: 'users' },
      { label: 'Logout', path: 'logout' }
    ]
  })
}
</script>

<style>

</style>