<template>
  <div class="w-screen bg-gray-200 flex flex-col items-center justify-center h-full">
    <div class="text-4xl font-semibold text-gray-700">Sampai Jumpa Lagi, {{ username }}</div>
    <img class="spinning mx-auto my-4 text-white" width="64" height="64" src="@/assets/ui.svg" />
    <img class="mx-auto my-4 text-white" width="254" height="254" src="@/assets/people.svg" />
  </div>
</template>

<script>
export default {
  data: () => ({
    username: ''
  }),
  mounted () {
    const raw = localStorage.getItem('adraffy.user')
    if (!raw) {
      this.$router.replace('/');
      // throw new Error('user invalid');
    }
    const user = JSON.parse(raw);
    this.username = user.username;
    localStorage.removeItem('adraffy.user');
    setTimeout(() => {
      this.$router.push('/');
    }, 6000);
  }
}
</script>

<style>
@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning {
  animation-name: rotate-s-loader;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
  position: relative;
}
</style>