<template>
  <div>
    <div class="px-24 py-3 flex flex-row items-center justify-between bg-indigo-600 text-white border-b border-gray-400">
      <div class="inline-block text-lg font-bold">Data Perangkingan  / <span class="font-semibold">{{ filtered.length }}</span></div>
      <button @click="print" class="px-6 py-1 bg-indigo-900 text-white font-bold text-md">Print</button>
    </div>

    <div class="px-24 py-12">
      <input 
        class="appearance-none border border-gray-400 py-2 px-3 mb-4 text-gray-700 text-sm w-64"
        id="username"
        type="text"
        placeholder="Keyword"
        v-model="keyword"
      >
      
      <table class="w-full border-collapse border border-gray-400">
        <thead>
           <tr class="bg-purple-100">
              <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">nama</th>
              <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">harga</th>
              <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">diskon</th>
              <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">ekspirate</th>
              <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">stok</th>
              <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">jarak</th>
              <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">sistem pembayaran</th>
              <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800"></th>
            </tr>
        </thead>
        <tbody>
          <template v-for="item in filtered">
            <tr :key="item.id" class="hover:bg-gray-400">
              <td class="text-left font-bold border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.nama }}</td>
              <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">Rp, {{ item.harga }}</td>
              <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.diskon }} %</td>
              <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.expire }} Tahun</td>
              <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.stok }}</td>
              <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.jarak }} km</td>
              <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.sistemPembayaran }}</td>
              <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">
                <span
                  v-if="item.aggregate > 0"
                  class="bg-blue-600 text-white px-2 font-bold"
                >
                  rekomendasi
                </span>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>

  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Supplier } from '@/types';
import { http } from '@/plugins/axios';
import { convert, Conv } from '@/services/convert';
import { elektre } from '@/services/elektre';

type ViewType = 'raw' | 'transformed';

interface Item extends Supplier {
  conv: Conv,
  aggregate: any
};

export default Vue.extend({
  name: 'app-rank',
  data: () => ({
    items: [] as Item[],
    currentView: 'raw' as ViewType,
    keyword: ''
  }),
  computed: {
    filtered () {
      const keyUp = this.keyword.toUpperCase();
      return this.items.filter(it => it.nama.toUpperCase().includes(keyUp));
    }
  },
  methods: {
    changeView (view: ViewType) {
      this.currentView = view;
    },
    loadData () {
      const weights = [
        5, 5, 4, 5, 4, 3
      ];
      
      return http.get<Supplier[]>('/suppliers')
        .then(resp => {
          const items = resp.data.map(item => {
            return {
              ...item,
              conv: convert(item)
            }
          });
          const data = items.map(item => item.conv)
          const result = elektre(data, weights);
          this.items = items.map((item, i) => {
            return {
              ...item,
              aggregate: result.aggregate[i].reduce((a, b) => a + b)
            }
          });
        })
        .catch(err => {
          console.log(err);
          if (err.response && err.response.data) {
            console.log(err.response.data);
          }
        });
    },
    print () {
      const toPrint = this.items.map(item => {
        return {
          ...item,
          rekom: item.aggregate > 0 ? 'Ya' : 'Tidak'
        }
      })
      http.post('reports', { items: toPrint }, { responseType: "blob" })
        .then(resp => {
          console.log(resp)
          const url = window.URL.createObjectURL(new Blob([resp.data]));
          window.open(url)
        })
    }
  },
  mounted () {
    (this as any).loadData();
  }
})
</script>
