<template>
  <div>
    <div class="px-24 flex flex-row items-center justify-between bg-indigo-600 text-white border-b border-gray-400"
    >
      <div class="inline-block text-xl font-bold">Pengaturan Bobot</div>
      <button
        class="px-4 py-1 m-3 ml-6 bg-indigo-800 text-white text-lg font-bold disabled:opacity-50"
        :disabled="$v.weights.$invalid"
        @click="save"
      >
        Simpan
      </button>
    </div>

    <div
      class="shadow p-4 max-w-xl mx-auto my-12">
      <div
        v-for="fitem in formItems" 
        :key="fitem.key"
        class="mb-6"
      >
        <label class="block text-gray-700 font-semibold mb-1">{{ fitem.label }}</label>
        <input
          type="number"
          min=1
          max=5
          v-model.number="weights[fitem.key]"
          class="bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
        />
        <p v-if="!$v.weights[fitem.key].required" class="text-red-500 text-xs italic">Tidak Boleh Kosong</p>
        <p v-if="!$v.weights[fitem.key].minValue" class="text-red-500 text-xs italic">Minimal 5</p>
        <p v-if="!$v.weights[fitem.key].maxValue" class="text-red-500 text-xs italic">Maximal 5</p>
      </div>
    </div>

  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { required, minValue, maxValue } from 'vuelidate/lib/validators';
import { http } from '@/plugins/axios';
import { defaults, get_weights, set_weights } from '@/services/weights'

export default Vue.extend({
  name: 'settings',
  data: () => ({
    weights: {
      ...defaults
    },
    formItems: [
      { key: 'harga', label: 'Harga' },
      { key: 'diskon', label: 'Diskon' },
      { key: 'expire', label: 'Expire' },
      { key: 'stok', label: 'Stok' },
      { key: 'jarak', label: 'Jarak' },
      { key: 'sistemPembayaran', label: 'Sistem Pembayaran' }
    ]
  }),
  validations: {
    weights: {
      harga: {
        required,
        minValue: minValue(1),
        maxValue: maxValue(5)
      },
      diskon: {
        required,
        minValue: minValue(1),
        maxValue: maxValue(5)
      },
      expire: {
        required,
        minValue: minValue(1),
        maxValue: maxValue(5)
      },
      stok: {
        required,
        minValue: minValue(1),
        maxValue: maxValue(5)
      },
      jarak: {
        required,
        minValue: minValue(1),
        maxValue: maxValue(5)
      },
      sistemPembayaran: {
        required,
        minValue: minValue(1),
        maxValue: maxValue(5)
      }
    }
  },
  methods: {
    loadData () {
      const data = get_weights()
      this.weights = data
    },
    save () {
      set_weights(this.weights)
    }
  },
  created () {
    (this as any).loadData()
  }
})
</script>