/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */

@tailwind  utilities;


@font-face {
  font-family: "baloo2";
  src: url(/fonts/Baloo_2/Baloo2-Regular.ttf);
}

@font-face {
  font-family: "baloo2";
  font-weight: 500;
  src: url(/fonts/Baloo_2/Baloo2-Medium.ttf);
}

@font-face {
  font-family: "baloo2";
  font-weight: 600;
  src: url(/fonts/Baloo_2/Baloo2-SemiBold.ttf);
}

@font-face {
  font-family: "baloo2";
  font-weight: bold;
  src: url(/fonts/Baloo_2/Baloo2-Bold.ttf);
}

@font-face {
  font-family: "fredoka";
  src: url(/fonts/Fredoka_One/FredokaOne-Regular.ttf);
}

@font-face {
  font-family: "titillium";
  src: url(/fonts/titillium/TitilliumWeb-Regular.ttf);
}

@font-face {
  font-family: "titillium";
  font-weight: bold;
  src: url(/fonts/titillium/TitilliumWeb-Bold.ttf);
}

#app {
  font-family: "baloo2";
}