<template>
  <div>
    <div class="py-2 bg-purple-600 text-md uppercase text-white text-center font-bold">
      Input Data Suplier
    </div>
    
    <div class="my-8">

      <ApolloMutation
        :mutation="require('../../../graphql/AddSupplier.gql')"
        :variables="{
          input: {
            supplier: form
          }
        }"
        @done="$router.back()"
      >
        <template v-slot="{ mutate, loading, error }">
          <div v-if="error" class="p-4 bg-red-600 text-white font-semibold">
            {{ error }}
          </div>

          <div v-if="loading" class="p-4 bg-blue-600 text-white text-center font-semibold">
            sedang menyimpan...
          </div>

          <div class="shadow p-4 max-w-xl mx-auto">

            <div class="mb-6">
              <label class="block text-gray-700 font-semibold mb-1">Nama Suplier</label>
              <input
                type="text"
                v-model="form.nama"
                class="bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
              />
              <p v-if="$v.form.nama.$invalid" class="text-red-500 text-xs italic">Tidak Boleh Kosong</p>
            </div>

            <div class="flex flex-row items-center">
              <button
                :disabled="$v.$invalid"
                @click="mutate"
                class="bg-indigo-700 font-bold text-white py-1 px-4 disabled:opacity-50">
                Simpan
              </button>
              <button
                class="font-bold py-1 border border-gray-400 px-4 ml-2"
                @click="$v.$reset"
              >
                Reset
              </button>
            </div>

          </div>

        </template>
      </ApolloMutation>

    </div>
  </div>
</template>

<script>
import { required, minLength, minValue, maxValue } from 'vuelidate/lib/validators';
import { http } from '@/plugins/axios';

export default {
  name: 'app-supplier-create',
  data: () => ({
    form: {
      nama: ''
    },
    options: {
      stok: ['Full', 'Half', 'None'],
      sistemPembayaran: ['Cepat', 'Sedang', 'Lama']
    }
  }),
  validations: {
    form: {
      nama: {
        required,
        minLength: minLength(5)
      }
    }
  }
}
</script>
