<template>
  <div>
    <div v-if="$apollo.queries.supplierById.loading">Loading</div>
    <div v-else>
      <div class="py-2 bg-purple-600 text-md uppercase text-white text-center font-bold">
        Input Data Suplier
      </div>
      <ApolloMutation
        :mutation="require('../../../graphql/UpdateSupplierById.gql')"
        :variables="update_variables"
        @done="$router.back()"
        class="my-8"
      >
        <template v-slot="{ mutate, loading, error }">
          <div v-if="error" class="p-4 bg-red-700 text-xl text-white font-semibold">
            {{ error }}
          </div>

          <div v-if="loading" class="p-4 bg-red text-white font-semibold">
            sedang menyimpan...
          </div>

          <div v-else class="shadow p-4 max-w-xl mx-auto">

            <div class="mb-6">
              <label class="block text-gray-700 font-semibold mb-1">Nama Suplier</label>
              <input
                type="text"
                v-model="supplierById.nama"
                class="bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
              />
            </div>

            <div class="flex flex-row items-center">
              <button
                class="bg-indigo-700 font-bold text-white py-1 px-4 disabled:opacity-50"
                @click="mutate"
              >
                Simpan
              </button>
              <button
                class="font-bold py-1 border border-gray-400 px-4 ml-2">
                Reset
              </button>
            </div>

          </div>
        </template>

      </ApolloMutation>
    </div>
  </div>
</template>

<script>
import { required, minLength, minValue, maxValue } from 'vuelidate/lib/validators';
import { http } from '@/plugins/axios';

export default {
  name: 'app-supplier-edit',
  props: ['id'],
  data: () => ({
    supplierById: {
      nama: ''
    }
  }),
  apollo: {
    supplierById: {
      query: require('../../../graphql/SupplierById.gql'),
      variables () {
        return {
          id: parseInt(this.id)
        }
      }
    }
  },
  validations: {
    supplierById: {
      nama: {
        required,
        minLength: minLength(5)
      }
    }
  },
  computed: {
    update_variables () {
      return {
        input: {
          id: parseInt(this.id),
          supplierPatch: {
            nama: this.supplierById.nama
          }
        }
      }
    }
  }
}
</script>
