<template>
  <div>
    <ApolloQuery
      :query="require('../../../graphql/AllSuppliersViews.gql')"
      :variables="variables"
      fetch-policy="network-only"
    >
      <template v-slot="{ result: { loading, error, data }, query }">
        <div v-if="loading">
          Loading...
        </div>
        <div v-else-if="error">
          {{ error }}
        </div>

        <div v-else-if="data">
          <div class="px-24 py-2 flex flex-row items-center justify-between bg-indigo-600 text-white border-b border-gray-400"
          >
            <div class="py-3">
              <div class="inline-block font-bold text-lg">Data Supplier  / 
                <span v-if="data && data.allSuppliersViews" class="font-semibold">{{ data.allSuppliersViews.totalCount }}</span>
              </div>
              <router-link
                class="px-4 py-1 m-3 ml-6 bg-indigo-800 text-white font-bold"
                to="/app/suppliers/create"
              >
                Tambah Data
              </router-link>
            </div>
            <input 
              class="appearance-none border border-gray-400 py-1 px-3 bg-indigo-700 text-white w-64 font-bold"
              id="username"
              type="text"
              placeholder="Keyword"
              v-model="keyword"
            >
          </div>

          <div class="px-24 py-6">

            <table class="w-full border-collapse border border-gray-400">
              <thead>
                 <tr class="bg-purple-100">
                    <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">id</th>
                    <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">nama</th>
                    <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">total obat</th>
                    <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800"></th>
                  </tr>
              </thead>
              <tbody>
                <template v-for="item in data.allSuppliersViews.nodes">
                  <tr :key="item.id">
                    <td class="text-left font-bold border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.id }}</td>
                    <td class="text-left font-bold border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.nama }}</td>
                    <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.totalObat }}</td>
                    <td class="flex flex-row justify-end border-b border-gray-200 py-2 px-2 text-gray-800">
                      <router-link 
                        class="bg-indigo-600 text-white text-sm lowercase font-semibold py-1 px-4 mr-2"
                        :to="`/app/suppliers/edit/${item.id}`"
                      >
                        Edit
                      </router-link>
                      <ApolloMutation
                        :mutation="require('../../../graphql/DeleteSupplierById.gql')"
                        :variables="{
                          id: item.id
                        }"
                        @done="query.refetch()"
                      >
                        <template v-slot="{ mutate }">
                          <button
                            class="bg-red-600 text-white text-sm lowercase font-semibold py-1 px-4"
                            @click="mutate"
                          >
                            Hapus
                          </button>
                        </template>
                      </ApolloMutation>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>

        <empty-data v-else />

      </template>
    </ApolloQuery>
    

  </div>
</template>

<script>
export default {
  data: () => ({
    keyword: ''
  }),
  computed: {
    variables () {
      return {
        keyword: `%${this.keyword}%`
      }
    }
  }
}
</script>
