<template>
  <table class="w-full border-collapse border border-gray-400">
    <thead>
       <tr class="bg-purple-100">
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">id</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">nama</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">total obat</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800"></th>
        </tr>
    </thead>
    <tbody>
      <template v-for="item in items">
        <tr :key="item.id">
          <td class="text-left font-bold border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.id }}</td>
          <td class="text-left font-bold border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.nama }}</td>
          <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.total_obat }}</td>
          <td class="text-right border-b border-gray-200 py-2 px-2 text-gray-800">
            <router-link 
              class="bg-indigo-600 text-white text-sm lowercase font-semibold py-1 px-4 mr-2"
              :to="`/app/suppliers/edit/${item.id}`"
            >
              Edit
            </router-link>
            <button
              class="bg-red-600 text-white text-sm lowercase font-semibold py-1 px-4"
              :to="`/app/suppliers/edit/${item.id}`"
              @click="remove(item.id)"
            >
              Hapus
            </button>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>

<script>
import { http } from '@/plugins/axios';

export default {
  name: 'suplier-raw',
  props: ['items'],
  methods: {
    remove (id) {
      http.delete(`/suppliers/${id}`)
        .then(resp => {
          console.log('OK');
          alert('Sukses menghapus data');
          this.$emit('deleted');
        })
        .catch(err => {
          console.log('error');
          alert('Gagal menghapus data');
        })
    }
  }
}
</script>

<style>

</style>