<template>
  <div class="shadow p-4 max-w-xl mx-auto">
    <div class="mb-6">
      <label class="block text-gray-700 font-semibold mb-1">Nama Suplier</label>
      <input
        type="text"
        :value="item.nama"
        class="bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
      />
    </div>

    <div class="flex flex-row items-center">
      <button
        class="bg-indigo-700 font-bold text-white py-1 px-4 disabled:opacity-50">
        Simpan
      </button>
      <button
        class="font-bold py-1 border border-gray-400 px-4 ml-2">
        Reset
      </button>
    </div>

  </div>
</template>