<template>
  <table class="w-full border-collapse border border-gray-400">
    <thead>
       <tr class="bg-purple-100">
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">nama</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">harga</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">diskon</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">ekspirate</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">stok</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">jarak</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">sistem pembayaran</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800"></th>
        </tr>
    </thead>
    <tbody>
      <template v-for="item in items">
        <tr :key="item.id">
          <td class="text-left font-bold border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.nama }}</td>
          <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.conv.harga }}</td>
          <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.conv.diskon }}</td>
          <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.conv.expire }}</td>
          <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.conv.stok }}</td>
          <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.conv.jarak }}</td>
          <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.conv.sistemPembayaran }}</td>
          <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">
            <router-link 
              class="bg-indigo-600 text-white text-sm py-1 px-4"
              :to="`/app/suppliers/edit/${item.id}`"
            >
              Edit
            </router-link>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>

<script>
export default {
  name: 'suplier-transformed',
  props: ['items']
}
</script>

<style>

</style>