<template>
  <div class="flex items-stretch h-screen w-screen">

    <section
      class="flex flex-col justify-center items-center text-center border-r border-gray-400 flex-grow w-full bg-indigo-600"
    >
      <img class="mx-auto mb-6" width="124" height="124" src="@/assets/pharmacy.svg" />
      <div class="font-fredoka text-4xl font-bold uppercase tracking-widest text-white">Adraffly</div>
      <div class="font-baloo2 text-lg font-bold tracking-widest text-gray-300">Sistem Pendukung Keputusan Pemilihan Supplier Terbaik</div>
    </section>

    <section
      class="flex flex-col justify-center items-center flex-grow w-full"
    >
      <div class="my-4 py-4 bg-red-500 text-white">
        {{ errors }}
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          Username
        </label>
        <input 
          v-model="item.username"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
      </div>

      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Password
        </label>
        <input 
          v-model="item.password"
          class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
      </div>

      <button class="block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-auto" @click="login">
        Login
      </button>

    </section>
  </div>
</template>

<script>
import UserByUsername from '@/graphql/UserByUsername.gql';

export default {
  name: 'landing',
  apollo: {
    user: {
      query: UserByUsername,
      skip: true,
      result: function (res, key) {
        if (res.data.userByUsername) {
          if (res.data.userByUsername.password == this.item.password) {
            localStorage.setItem('adraffy.user', JSON.stringify(res.data.userByUsername))
            this.$router.push('/app/obats')
          }
        }
        this.errors = 'gagal login'
      },
      variables () {
        return {
          username: this.item.username
        }
      },
      update: data => data.userByUsername
    }
  },
  data: () => ({
    errors: '',
    item: {
      username: '',
      password: ''
    }
  }),
  methods: {
    login () {
      this.$apollo.queries.user.skip = false;
      this.$apollo.queries.user.refetch();
    }
  }
}
</script>

<style>

</style>