<template>
  <div class="p-16 text-center">
    <button class="bg-blue-600 p-4 rounded font-bold text-xl text-white" @click="runElektre">Run Elektre</button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { http } from '@/plugins/axios';
import { convert, Conv } from '@/services/convert';
import { Supplier } from '@/types';
import { elektre } from '@/services/elektre';

interface Item extends Supplier {
  conv: Conv
};

export default Vue.extend({
  data: () => ({
    items: [] as Item[]
  }),
  methods: {
    loadData () {
      return http.get<Supplier[]>('/suppliers')
        .then(resp => {
          this.items = resp.data.map(item => {
            return {
              ...item,
              conv: convert(item)
            }
          });
        })
        .catch(err => {
          console.log(err);
          if (err.response && err.response.data) {
            console.log(err.response.data);
          }
        });
    },
    runElektre () {
      const weights = [
        5, 5, 4, 5, 4, 3
      ];
      const result = elektre(this.items.map(item => item.conv), weights);
      console.log(result);
    }
  },
  created () {
    this.loadData()
  }
})
</script>

<style>

</style>