<template>
  <div>
    <div class="py-2 bg-purple-600 text-md uppercase text-white text-center font-bold">
      Input Data Suplier
    </div>
    <div class="my-8">

      <div class="shadow p-4 max-w-xl mx-auto">

        <div class="mb-6">
          <label class="block text-gray-700 font-semibold mb-1">Nama Suplier</label>
          <input
            type="text"
            v-model="form.nama"
            class="bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
          />
          <p v-if="$v.form.nama.$invalid" class="text-red-500 text-xs italic">Tidak Boleh Kosong</p>
        </div>

        <div class="mb-6">
          <label class="block text-gray-700 font-semibold mb-1">Harga (Rupiah)</label>
          <input
            type="number"
            v-model.number="form.harga"
            min=2000
            class="appearance-none bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
          />
          <p v-if="!$v.form.harga.required" class="text-red-500 text-xs italic">Tidak Boleh Kosong</p>
          <p v-if="!$v.form.harga.minValue" class="text-red-500 text-xs italic">Lebih Besar 2000</p>
        </div>

        <div class="mb-6">
          <label class="block text-gray-700 font-semibold mb-1">Diskon (Persen)</label>
          <input
            type="number"
            v-model.number="form.diskon"
            min=0
            max=15
            step=0.01
            class="bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
          />
          <p v-if="!$v.form.diskon.required" class="text-red-500 text-xs italic">Tidak Boleh Kosong</p>
          <p v-if="!$v.form.diskon.minValue" class="text-red-500 text-xs italic">Lebih Besar 0</p>
          <p v-if="!$v.form.diskon.maxValue" class="text-red-500 text-xs italic">Lebih Kecil 15</p>
        </div>

        <div class="mb-6">
          <label class="block text-gray-700 font-semibold mb-1">Kadaluarsa (Tahun)</label>
          <input
            type="number"
            v-model.number="form.expire"
            min=1
            max=100
            class="bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
          />
          <p v-if="!$v.form.expire.required" class="text-red-500 text-xs italic">Tidak Boleh Kosong</p>
          <p v-if="!$v.form.expire.minValue" class="text-red-500 text-xs italic">Lebih Besar 0</p>
          <p v-if="!$v.form.expire.maxValue" class="text-red-500 text-xs italic">Lebih Kecil Dari 100</p>
        </div>

        <div class="mb-6">
          <label class="block text-gray-700 mb-1 font-semibold">Stok</label>
          <select
            class="bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
            v-model="form.stok"
          >
            <option v-for="option in options.stok" :key="option">{{option}}</option>
          </select>
        </div>

        <div class="mb-6">
          <label class="block text-gray-700 font-semibold mb-1">Jarak (Kilometer)</label>
          <input
            type="number"
            v-model.number="form.jarak"
            min="0"
            class="bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
          />
          <p v-if="!$v.form.jarak.required" class="text-red-500 text-xs italic">Tidak Boleh Kosong</p>
          <p v-if="!$v.form.jarak.minValue" class="text-red-500 text-xs italic">Lebih Besar 0</p>
        </div>

        <div class="mb-6">
          <label class="block text-gray-700 mb-1 font-semibold">Sistem Pembayaran</label>
          <select
            v-model="form.sistemPembayaran"
            class="bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
          >
            <option v-for="option in options.sistemPembayaran" :key="option">{{option}}</option>
          </select>
        </div>

        <div class="flex flex-row items-center">
          <button
            :disabled="$v.$invalid"
            @click="save"
            class="bg-indigo-700 font-bold text-white py-1 px-4 disabled:opacity-50">
            Simpan
          </button>
          <button
            class="font-bold py-1 border border-gray-400 px-4 ml-2">
            Reset
          </button>
        </div>

      </div>

    </div>
  </div>
</template>

<script>
import { required, minLength, minValue, maxValue } from 'vuelidate/lib/validators';
import { http } from '@/plugins/axios';

export default {
  name: 'app-supplier-create',
  data: () => ({
    form: {
      nama: '',
      harga: 2000,
      diskon: 0,
      expire: 1,
      stok: 'Full',
      jarak: 2,
      sistemPembayaran: 'Cepat'
    },
    options: {
      stok: ['Full', 'Half', 'None'],
      sistemPembayaran: ['Cepat', 'Sedang', 'Lama']
    }
  }),
  validations: {
    form: {
      nama: {
        required,
        minLength: minLength(5)
      },
      harga: {
        required,
        minValue: minValue(2000)
      },
      diskon: {
        required,
        minValue: minValue(0),
        maxValue: maxValue(15)
      },
      expire: {
        required,
        minValue: minValue(1),
        maxValue: maxValue(100)
      },
      jarak: {
        required,
        minValue: minValue(0)
      }
    }
  },
  methods: {
    save () {
      http.post('/suppliers', this.form)
        .then(resp => {
          console.log(resp.data);
          this.$router.push('/app/suppliers')
        })
        .catch(err => {
          console.log(err.response.data);
          alert('Gagal menginput data');
        })
    }
  }
}
</script>
