<template>
  <div>
    <div class="py-2 bg-purple-600 text-md uppercase text-white text-center font-bold">
      Update Data Obat #
      <span v-if="!$apolloData.queries.obatById.loading">{{ obatById.nama }}</span>
    </div>
    <div class="my-8">

      <ApolloMutation
        :mutation="require('../../../graphql/UpdateObatById.gql')"
        :variables="update_variables"
        @done="$router.back()"
      >
        <template v-slot="{ mutate, loading, error }">
          <div v-if="error" class="p-4 bg-red text-white font-semibold">
            {{ error }}
          </div>

          <div v-if="loading" class="p-4 bg-red text-white font-semibold">
            sedang menyimpan...
          </div>

          <form class="shadow p-4 max-w-xl mx-auto">
            <div class="mb-6">
              <label class="block text-gray-700 font-semibold mb-1">Nama Obat</label>
              <input
                type="text"
                v-model="obatById.nama"
                class="bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
              />
              <p v-if="$v.obatById.nama.$invalid" class="text-red-500 text-xs italic">Tidak Boleh Kosong</p>
            </div>

            <div class="flex flex-row items-center">
              <button
                :disabled="$v.$invalid || loading"
                @click="mutate"
                class="bg-indigo-700 font-bold text-white py-1 px-4 disabled:opacity-50"
              >
                Simpan
              </button>

              <button
                class="font-bold py-1 border border-gray-400 px-4 ml-2"
                @click="$v.$reset"
              >
                Reset
              </button>
            </div>

          </form>
        </template>
      </ApolloMutation>

    </div>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators';
import ObatById from '@/graphql/ObatById.gql'

export default {
  props: ['id'],
  data: () => ({
    obatById: {
      nama: ''
    }
  }),
  validations: {
    obatById: {
      nama: {
        required
      }
    }
  },
  apollo: {
    obatById: {
      query: ObatById,
      variables () {
        return { id: parseInt(this.id) }
      }
    }
  },
  computed: {
    update_variables () {
      return {
        input: {
          id: parseInt(this.id),
          obatPatch: {
            nama: this.obatById.nama
          }
        }
      }
    }
  }
}
</script>
