<template>
  <div>
    <div v-if="$apollo.loading">Loading..</div>
    <div v-else>
      <div class="py-2 bg-purple-600 text-md uppercase text-white text-center font-bold">
        Input Data Supply Obat 
        <span>{{ item.form.obat.nama }}</span>
      </div>

      <div class="my-8">

        <div class="shadow p-4 max-w-xl mx-auto">

          <div class="mb-6">
            <label class="block text-gray-700 mb-1 font-semibold">Supplier</label>
            <select
              class="bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
              v-model="item.form.supplierId"
            >
              <option 
                v-for="option in suppliers" 
                :key="option.value"
                :value="option.value">{{option.label}}</option>
            </select>
          </div>

          <div class="mb-6">
            <label class="block text-gray-700 font-semibold mb-1">Harga (Rupiah)</label>
            <input
              type="number"
              v-model.number="item.form.harga"
              min=2000
              class="appearance-none bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
            />
            <p v-if="!$v.item.form.harga.required" class="text-red-500 text-xs italic">Tidak Boleh Kosong</p>
            <p v-if="!$v.item.form.harga.minValue" class="text-red-500 text-xs italic">Lebih Besar 2000</p>
          </div>

          <div class="mb-6">
            <label class="block text-gray-700 font-semibold mb-1">Diskon (Persen)</label>
            <input
              type="number"
              v-model.number="item.form.diskon"
              min=0
              max=15
              step=0.01
              class="bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
            />
            <p v-if="!$v.item.form.diskon.required" class="text-red-500 text-xs italic">Tidak Boleh Kosong</p>
            <p v-if="!$v.item.form.diskon.minValue" class="text-red-500 text-xs italic">Lebih Besar 0</p>
            <p v-if="!$v.item.form.diskon.maxValue" class="text-red-500 text-xs italic">Lebih Kecil 15</p>
          </div>

          <div class="mb-6">
            <label class="block text-gray-700 font-semibold mb-1">Kadaluarsa (Tahun)</label>
            <input
              type="number"
              v-model.number="item.form.expire"
              min=1
              max=100
              class="bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
            />
            <p v-if="!$v.item.form.expire.required" class="text-red-500 text-xs italic">Tidak Boleh Kosong</p>
            <p v-if="!$v.item.form.expire.minValue" class="text-red-500 text-xs italic">Lebih Besar 0</p>
            <p v-if="!$v.item.form.expire.maxValue" class="text-red-500 text-xs italic">Lebih Kecil Dari 100</p>
          </div>

          <div class="mb-6">
            <label class="block text-gray-700 mb-1 font-semibold">Stok</label>
            <select
              class="bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
              v-model="item.form.stok"
            >
              <option v-for="option in options.stok" :key="option">{{option}}</option>
            </select>
          </div>

          <div class="mb-6">
            <label class="block text-gray-700 font-semibold mb-1">Jarak (Kilometer)</label>
            <input
              type="number"
              :step="0.01"
              v-model.number="item.form.jarak"
              min="0"
              class="bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
            />
            <p v-if="!$v.item.form.jarak.required" class="text-red-500 text-xs italic">Tidak Boleh Kosong</p>
            <p v-if="!$v.item.form.jarak.minValue" class="text-red-500 text-xs italic">Lebih Besar 0</p>
          </div>

          <div class="mb-6">
            <label class="block text-gray-700 mb-1 font-semibold">Sistem Pembayaran</label>
            <select
              v-model="item.form.sistemPembayaran"
              class="bg-gray-300 w-full p-2 py-1 text-gray-800 focus:outline-shadow focus:bg-gray-100 focus:border-b-2"
            >
              <option v-for="option in options.sistemPembayaran" :key="option">{{option}}</option>
            </select>
          </div>

          <div class="flex flex-row items-center">
            <button
              :disabled="$v.$invalid"
              class="bg-indigo-700 font-bold text-white py-1 px-4 disabled:opacity-50"
              @click="on_save"
            >
              Simpan
            </button>
            <button
              class="font-bold py-1 border border-gray-400 px-4 ml-2">
              Reset
            </button>
          </div>

        </div>

      </div>
    </div>
  </div>
</template>

<script>
import SupplyFormData from '@/graphql/SupplyFormData.gql'
import UpdateSupplyById from '@/graphql/UpdateSupplyById.gql'
import { required, minLength, minValue, maxValue } from 'vuelidate/lib/validators';

export default {
  props: ['id_obat', 'id_supply'],
  apollo: {
    item: {
      query: SupplyFormData,
      variables () {
        return {
          supplyId: parseInt(this.id_supply),
          obatId: parseInt(this.id_obat)
        }
      },
      update: data => data
    }
  },
  data: () => ({
    item: {
      form: {
        harga: 2000,
        diskon: 0,
        expire: 1,
        stok: 'Full',
        jarak: 2,
        sistemPembayaran: 'Cepat',
        obat: {
          id: 0,
          nama: ''
        },
        supplier: {
          id: 0,
          nama: ''
        }
      },
      freeSupplierForObat: {
        nodes: []
      }
    },
    options: {
      stok: ['Full', 'Half', 'None'],
      sistemPembayaran: ['Cepat', 'Sedang', 'Lama']
    }
  }),
  computed: {
    suppliers () {
      return [
        ...this.item.freeSupplierForObat.nodes,
        {
          value: this.item.form.supplier.id,
          label: this.item.form.supplier.nama
        }
      ]
    }
  },
  validations: {
    item: {
      form: {
        supplierId: {
          required
        },
        harga: {
          required,
          minValue: minValue(2000)
        },
        diskon: {
          required,
          minValue: minValue(0),
          maxValue: maxValue(15)
        },
        expire: {
          required,
          minValue: minValue(1),
          maxValue: maxValue(100)
        },
        jarak: {
          required,
          minValue: minValue(0)
        }
      }
    }
  },
  methods: {
    on_save () {
      this.$apollo.mutate({
        mutation: UpdateSupplyById,
        variables: {
          input: {
            id: parseInt(this.id_supply),
            supplyPatch: {
              supplierId: this.item.form.supplierId,
              stok: this.item.form.stok,
              harga: this.item.form.harga,
              jarak: this.item.form.jarak,
              sistemPembayaran: this.item.form.sistemPembayaran,
              diskon: this.item.form.diskon,
              expire: this.item.form.expire
            }
          }
        }
      })
        .then(result => {
          console.log(result)
          this.$router.back()
        })
        .catch(err => {
          console.log(err)
          alert('gagal mengubah data supply')
        })
    }
  }
}
</script>

<style>

</style>