<template>
  <table class="w-full border-collapse border border-gray-400">
    <thead>
       <tr class="bg-purple-100">
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">id</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">nama</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">total supplier</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800"></th>
        </tr>
    </thead>
    <tbody>
      <template v-for="item in items">
        <tr :key="item.id">
          <td class="text-left font-bold border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.id }}</td>
          <td class="text-left font-bold border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.nama }}</td>
          <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.totalSupplier }}</td>
          <td class="border-b border-gray-200 py-2 px-2 text-gray-800 flex flex-row justify-end items-center">
            <router-link
              class="appearance-none text-sm lowercase font-semibold py-1 px-4 mr-2 border-2"
              :to="`/app/obats/${item.id}/suppliers`"
            >
              supplier
            </router-link>

            <router-link 
              class="bg-indigo-600 text-white text-sm lowercase font-semibold py-1 px-4 mr-2"
              :to="`/app/obats/${item.id}/edit`"
            >
              Edit
            </router-link>
            
            <ApolloMutation
              :mutation="require('../../../graphql/DeleteObatById.gql')"
              :variables="{
                input: {
                  id: item.id
                }
              }"
              :refetch-queries="x => [ { query: require('../../../graphql/AllObatsView.gql') } ]"
            >
              <template v-slot="{ mutate }">
                <button
                  class="bg-red-600 text-white text-sm lowercase font-semibold py-1 px-4"
                  :to="`/app/obats/edit/${item.id}`"
                  @click="mutate"
                >
                  Hapus
                </button>
              </template>
            </ApolloMutation>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>

<script>
import { http } from '@/plugins/axios';

export default {
  name: 'obat-table',
  props: ['items'],
  methods: {
    remove (id) {
      http.delete(`/obats/${id}`)
        .then(resp => {
          console.log('OK');
          alert('Sukses menghapus data');
          this.$emit('deleted');
        })
        .catch(err => {
          console.log('error');
          alert('Gagal menghapus data');
        })
    },
    on_supply_click (obat_id) {
    }
  }
}
</script>

<style>

</style>