<template>
  <div>
    <div v-if="$apollo.loading">Loading...</div>
    <div v-else>

      <div class="px-24 py-2 flex flex-row items-center justify-between bg-indigo-700 text-white border-b border-gray-400">
        <div class="py-1">
          <div class="inline-block font-bold text-2xl">Supplier Obat {{ obatById.nama }}</div>
        </div>
       
        <div class="flex flex-row items-center justify-end">
          <router-link
            class="appearance-none px-4 py-1 ml-6 bg-indigo-800 text-white font-bold mr-2"
            :to="`/app/obats/${id}/supplies/create`"
          >
            Tambah Supplier
          </router-link>
        </div>

      </div>

      <section class="md:px-24 mx-auto mt-12">
        <SuppliesRaw :id_obat="id" :items="sorted" />
      </section>

    </div>
  </div>
</template>

<script>
import ObatSuppliers from '@/graphql/ObatSuppliers.gql'
import gql from 'graphql-tag'
import { sortBy, reverse } from 'lodash'
import SuppliesRaw from './supplies-raw'
import { get_weights } from '@/services/weights'
import { convert } from '@/services/convert'
import { elektre } from '@/services/elektre'

export default {
  name: 'obat-supplier',
  props: ['id'],
  components: {
    SuppliesRaw
  },
  apollo: {
    obatById: {
      query: ObatSuppliers,
      variables () {
        return {
          id: parseInt(this.id)
        }
      },
      update: data => data.obatById,
      fetchPolicy: 'network-only',
      result: function (data, key) {
        const items = data.data.obatById.suppliesByObatId.nodes
        this.sort(items)
      }
    }
  },
  data: () => ({
    keyword: '',
    sorted: []
  }),
  methods: {
    delete_supply (id) {
      this.$apollo.mutate({
        mutation: gql`
          mutation DeleteSupplyById($input: DeleteSupplyByIdInput!) {
            deleteSupplyById(input: $input) {
              supply {
                id
              }
            }
          }
        `,
        variables: {
          input: {
            id
          }
        }
      })
        .then(result => {
          this.$apollo.queries.obatById.refetch()
        })
        .catch(err => {
          console.log(err)
          alert('gagal menghapus data supply')
        })
    },
    sort (items) {
      if (items.length == 1) {
        this.sorted = [
          { item: items[0], total: 0 }
        ]
        return
      }
      
      if (items.length == 0) {
        this.sorted = []
        return
      }

      let w = get_weights()
      let weights = [
        w.harga,
        w.diskon,
        w.expire,
        w.stok,
        w.jarak,
        w.sistemPembayaran
      ]
      const converted = items.map(convert)
      const results = elektre(converted, weights)
      const aggs =results.aggregate
      let sorted = items.map((item, index) => {
        return {
          item,
          aggregated: aggs[index],
          total: aggs[index].reduce((a, b) => a + b, 0)
        }
      })
      let temp = reverse(sortBy(sorted, it => it.total))
      let first = temp[0]
      this.sorted = temp.map(it => {
        if (it.total == first.total) {
          it.rekom = true
        }
        return it
      })
    }
  },
  created () {

  }
}
</script>