<template>
  <table class="w-full border-collapse border border-gray-400">
    <thead>
       <tr class="bg-purple-100">
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">id</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">nama</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">harga</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">diskon</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">expire</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">stok</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">jarak</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">sistem pembayaran</th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800"></th>
          <th class="text-left border-b border-gray-200 py-2 px-2 text-gray-800"></th>
        </tr>
    </thead>
    <tbody>
      <template v-for="item in items">
        <tr :key="item.item.id">
          <td class="text-left font-bold border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.item.id }}</td>
          <td class="text-left font-bold border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.item.supplierBySupplierId.nama }}</td>
          <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.item.harga }}</td>
          <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.item.diskon }}</td>
          <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.item.expire }}</td>
          <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.item.stok }}</td>
          <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.item.jarak }}</td>
          <td class="text-left border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.item.sistemPembayaran }}</td>
          <td class="text-left font-bold border-b border-gray-200 py-2 px-2 text-gray-800">{{ item.rekom ? 'rekomendasi' : '' }}</td>
          <td class="border-b border-gray-200 py-2 px-2 text-gray-800 flex flex-row justify-end items-center">
            <router-link 
              class="bg-indigo-600 text-white text-sm lowercase font-semibold py-1 px-4 mr-2"
              :to="`/app/obats/${id_obat}/supplies/${item.item.id}/edit`"
            >
              Edit
            </router-link>

            <button
              class="bg-red-600 text-white text-sm lowercase font-semibold py-1 px-4"
              @click="$emit('delete', item.item.id)"
            >
              Hapus
            </button>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>

<script>
export default {
  props: ['items', 'id_obat']
}
</script>